 <div class="row">
    <aside class="col-md-4">
      <%= form_for(@task) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
          <%= f.text_area :status, class: 'form-control', rows: 1 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
   


  
  